@import '~antd/dist/antd.css';

@import 'normalize.css';

@import 'layouts/chat';

body {
  background-color: #f4f7fd;
}

body,
html,
#root,
.wrapper {
  height: 100%;
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

* {
  outline: none;
}

.ant-btn-circle {
  border: 0;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }

  &:after {
    display: none;
  }

}

