@import "../../styles/variables";

.dialogs {
  width: 300px;
  &__item {
    $item: &;
    display: flex;
    margin-bottom: 20px;
      
        &-avatar {
          position: relative;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          content: '';
          background-color: $green;
          border-radius: 30px;
          width: 13px;
          height: 13px;
          border: 3px solid #ffffff;
        }
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        b {
          font-weight: 500;
          font-size: 14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        p {
          opacity: 0.5;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 220px;
          height: 1.2em;
          white-space: nowrap;
        }
        &-count {
          position: absolute;
          right: 0;
          bottom: 14px;
          background: #f46b6b;
          color: #ffffff;
          font-weight: bold;
          width: 100%;
          min-width: 18px;
          max-width: 22px;
          height: 18px;
          border-radius: 30px;
          font-size: 11px;
          text-align: center;
          line-height: 17px;
        }
        .message__icon-readed {
          bottom: 0;
          left: auto;
          right: 0;
        }
      }
    }
  }
}
