.messages {
    padding: 20px;
    padding-bottom: 0;
    overflow: auto;
    height: 100%;
    &--loading {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}