.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__top {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      font-size: 28px;
      margin-bottom: 5px;
    }
    p {
      opacity: 0.5;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1px;
    }
  }

  &__registration-link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #adadad;
    display: block;
    text-align: center;

    margin-top: 30px;
  }
  .block {
    width: 430px;
  }

  .button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 100%;
  }
}
