.chat-input {
  display: flex;
  margin: 20px;
  position: relative;

  &__smile-btn {
    margin-right: 15px;
    span.anticon {
      margin-top: 12px;
    }
  }

  .ant-btn-circle {
    span.anticon {
      cursor: pointer;
      font-size: 18px;
    }
  }

  &__emoji-piker {
    position: absolute;
    bottom: 50px;
    z-index: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 80px;
    justify-content: space-between;
    margin-left: 15px;

    &-upload-btn {
      input {
        cursor: pointer;
      }
      &:hover {
        button {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }

  input {
    padding: 6px 11px 8px;
    font-size: 14px;
    &:focus {
      box-shadow: none;
    }
  }
}