@import '../../styles/variables';

$self: '.message';


.message {
  margin: 0 auto;
  display: flex;
  max-width: 95%;
  margin-bottom: 20px;


  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    
    .avatar {
      width: 33px;
      height: 33px;
      border-radius: 50px;
      margin-right: 13px;

      margin-bottom: 5px;
      font-size: 14px;
      line-height: 31px;
    }
  }
  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 13px 13px 24px 13px;
    margin-bottom: 9px;
    position: relative;
  }
  &__text {
    color: white;
    margin: 0;
    line-height: 20px;
  }
  &__date {
    font-size: 12px;
    opacity: 0.4;
  }
  &__check-icon {
    position: absolute;
    right: 16px;
    bottom: 10px;
  }
  &__attachments {
    display: flex;
    margin-bottom: 5px;
    &-item {
      margin-right: 5px;
      cursor: pointer;
    }
    img {
      width: 45px;
      height: 45px;
      border-radius: 20%;
    }
  }

  &--is-audio {
    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio {
      audio {
        display: none;
      }
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      &-btn {
        button {
          cursor: pointer;
          border: 0;
          width: 28px;
          height: 28px;
          border-radius: 30px;
          background: #0f3997;
          img {
            height: 16px;
          }
        }
      }
      &-duration {
        color: #ffffff;
        font-weight: 500;
        opacity: 0.5;
        font-size: 12px;
      }
      &-progress {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #418fff;
        height: 100%;
        transition: width 0.3s ease;
      }
    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;

    .avatar {
      margin-left: 13px;
      margin-right: 0;
    }

    #{$self}__content {
      margin-bottom: 15px;
    }
    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0px 12px;
    }
    #{$self}__text {
      color: $dark-text;
    }
    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }
    #{$self}__date {
      display: block;
      text-align: end;
    }
    #{$self}__attachments {
      flex-direction: row-reverse;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background-color: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: 15px 18px;
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $message-typing-circle;
      display: inline-block;
      margin-right: 7px;
      animation-name: typingAnimation;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;

      &:nth-of-type(2) {
        animation-duration: 0.6s;
      }
      &:nth-of-type(3) {
        animation-duration: 0.7s;
      }
    }
  }
}
@keyframes typingAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}
